@import "./ScrollSlider/style.css";

* {
  box-sizing: border-box; /* Устанавливаем box-sizing для всех элементов */
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #161618; /* Цвет #161618;  фона страницы */
  height: 100dvh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto; /* Центрируем контейнер */
  max-width: 900px;
  padding: 0 30px;
  color: white;
}

.scroll-slider {
  display: block;
  position: relative;
}

.scroll-slider-track {
  gap: 10px;
  z-index: 1;
  /* Градиентная маска по краям */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 40px,
    black calc(100% - 40px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 40px,
    black calc(100% - 40px),
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.slide {
  height: 350px;
  border-radius: 10px;
}

.scroll-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: 50px;
  height: 50px;

  top: 50%;
  margin-top: -25px;

  background-color: #fff;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  z-index: 2;
}

.scroll-slider-button._prev {
  left: -25px;
}

.scroll-slider-button._next {
  right: -25px;
}

@media (hover: hover) {
  .scroll-slider-button:hover {
    background-color: #e0e0e0; /* Светло-серый фон при наведении */
    transform: scale(1.1); /* Увеличиваем кнопку при наведении */
  }
}

.scroll-slider-button:active {
  transform: scale(0.95); /* Уменьшаем кнопку при нажатии */
}

.scroll-slider-button:focus-visible {
  outline: 2px solid white; /* Черный контур при фокусе */
  outline-offset: 2px;
}

.scroll-slider-button svg {
  width: 24px;
  height: 24px;
}
